body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.RollDice {
    text-align: center;
}

.Container {
    display: flex;
    justify-content: center;
}

.Die-container {
    padding: 0 2rem;
}

.Die {
    color: slateblue;
    font-size: 10em;
}

.shaking {
  animation-name: wobble;
  animation-duration: 1s;
}

.Button {
    margin-top: 5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #FFF;
    background-color: #000;
    font-size: 2rem;
}

.Button:hover {
    background-color: slateblue;
    cursor: pointer;
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(15%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0)
    }
}
